body{
    background-color: #EAF6F6;
}

hr{
    width: 15%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;

}

h1{
    color:#497174 ;
}
h3{
    color:#404258 ;
}